.footer {
    height: 500px;
    background-color: white;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reviews {
    width: 100%;
    height: 100px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yelp,
.tripadvisor {
    align-self: center;
    justify-self: center;
    text-align: center;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 700;
    transition: 0.25s ease-in-out;
}

.yelp:hover,
.tripadvisor:hover {
    transform: scale(1.1);
}

.yelp:hover {
    color: #d32323;
}

.tripadvisor:hover {
    color: #34E0A1
}